.footer-box {
    font-size: 100%;
    margin: 0;
    margin-top: 10%;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-break: break-all;
}

ol,
ul {
    list-style: none;
}

.policy_list {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
    padding: 23px 0;
    border-bottom: 1px solid #ebebeb;
}

a {
    color: inherit;
    text-decoration: none;
}

.policy_list li a {
    font-weight: 500;
    font-size: 15px;
    color: #666;
    line-height: 1.462em;
}

body {
    font-size: 13px;
    line-height: 1.2;
    color: #666;
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-weight: 400;
}

.company_info_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1080px;
    margin: 0 auto;
    padding: 23px 0;
}

address,
dl,
dt,
dd,
ol,
ul,
li,
tr,
th,
td {
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-break: break-all;
    display: block;
}

address {
    display: block;
}

.familysite_wrap select {
    margin-left: -1%;
    position: relative;
    height: 34px;
    font-size: 12px;
    color: #666;
    line-height: 34px;
    border: none;
    background-color: transparent;
    border: 1px solid #d8d8d8;
}

.company_info .company_info_list {
    display: flex;
    color: inherit;
}

.company_info .company_info_list dd a {
    text-decoration: underline;
}

.familysite_wrap .btn_familysite {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 29px;
    margin-left: -1px;
    font-size: 14px;
    color: #fff;
    line-height: 1.429em;
    background-color: #9e9e9e;
    vertical-align: top;
}